@model List<myMusic.ViewModel.CollectionViewModel>

@{
    ViewBag.Title = "Danh sách phát";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách phát</h2>
<div class="row">
    @foreach (var col in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <img src="@Url.Content("~/images/" + (string.IsNullOrEmpty(col.CoverImage) ? "plhld.jpg" : col.CoverImage))"
                         alt="Ảnh bìa playlist"
                         onerror="this.onerror=null;this.src='@Url.Content("~/images/ImagesSong/plhld.jpg")';"
                         style="height: 200px; object-fit: cover;" class="card-img-top" />

                    <h5 class="card-title">@col.Name</h5>
                    <p class="card-text">
                        Người tạo: @col.Username<br />
                        Thể loại: @col.TypeName<br />
                        Bài hát: @col.SongCount<br />
                        Ng
                    </p>
                    <a href="@Url.Action("Details", "Collections", new { id = col.CollectionID })" class="btn btn-primary">Xem chi tiết</a>
                </div>
            </div>
        </div>
    }
</div>

